# Sanal ortamlar
venv/
.env/
yoloproj_env_new/

# Python cache
__pycache__/
*.pyc

# Tüm video dosya türlerini dışla
*.mp4

# Eğer özel olarak bir klasörde video varsa, klasör bazında da engelle
videos/
output/
